In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/My Drive/Colab Notebooks/MLDM

Mounted at /content/drive
/content/drive/My Drive/Colab Notebooks/MLDM

In [ ]:
dataframe= pd.read_csv('ML_assignment02_dataset_2021.csv')
dataframe.head()

  Colour  Radius (cm)  Weight (grams) Fruit (class)
0  Green          4.3             122          Pear
1  Green          4.6             152          Pear
2  Green          3.1              85         Apple
3  Green          3.6             173          Pear
4  Green          2.5              65         Lemon

In [ ]:
def del_duplicates(dataframe):
    
    df=dataframe.drop_duplicates(keep='first')
    print('DF after dropping duplicates : ',df)
    
    #writing to csv 
    #df.to_csv('Output_1.csv')
    
    return df

In [ ]:
def class_mean(dataframe,col,label):
    return round(dataframe.loc[(dataframe['Fruit (class)']== label) & (dataframe[col].notna()),col].mean(),1)

def fill_values(dataframe):
    dataframe.replace(0,np.NaN,inplace=True)
    
    cols=dataframe.columns[dataframe.isna().any()].tolist()
    labels=set(dataframe['Fruit (class)'].tolist())
    
    for col in cols:

        for label in labels:
            dataframe.loc[dataframe[col].isna() & dataframe['Fruit (class)'==label],col]=dataframe.apply(lambda x : class_mean(dataframe,col,label),axis=1)
    
    print('Dataset after filling values ',dataframe)
    dataframe.to_csv('Output_2.csv')
    
    return dataframe

In [ ]:
def transform_nominal(dataframe):
    
    df_nominal=pd.get_dummies(dataframe, columns=["Colour"])   
    
    print('Dataset after transforming nominal attributes ',df_nominal)
    df_nominal.to_csv('Output_3.csv')
    
    return df_nominal

In [ ]:
def normalise_minmax(dataframe):
    
    columns= dataframe.select_dtypes(include=np.number).columns.to_list()

    for col in columns: 
        dataframe[col]=round((dataframe[col]-dataframe[col].min())/(dataframe[col].max()-dataframe[col].min()),2)
        
    print('Dataset after minmax normalisation ',dataframe)
    dataframe.to_csv('Output_4.csv')
    
    return dataframe

In [ ]:
dataframe=del_duplicates(dataframe)

DF after dropping duplicates :      Colour  Radius (cm)  Weight (grams) Fruit (class)
0    Green          4.3             122          Pear
1    Green          4.6             152          Pear
2    Green          3.1              85         Apple
3    Green          3.6             173          Pear
4    Green          2.5              65         Lemon
5    Green          2.5              70         Apple
6    Green          2.7              73         Apple
7    Green          4.5             110          Pear
8    Green          2.5              86         Apple
9    Green          2.4              68         Lemon
10   Green          4.2             126          Pear
11     Red          3.7             101         Apple
12     Red          3.7             100         Apple
13     Red          3.4              80         Apple
14  Yellow          3.2              79         Apple
15  Yellow          3.1              69         Lemon
16  Yellow          2.1              64         Apple
17  Yellow          2.6              58         Lemon
18  Yellow          2.1              40         Lemon
19  Yellow          2.3              60         Lemon
20  Yellow          4.2             105          Pear
22  Yellow          3.2              64         Lemon
23  Yellow          2.9              53         Lemon
24  Yellow          4.1             135          Pear
25  Yellow          5.2             142          Pear
27  Yellow          0.0             137          Pear
28  Yellow          3.0              98         Apple
29  Yellow          2.4               0         Lemon
30  Yellow          4.1              56         Lemon
31  Yellow          4.1              80         Apple
32  Yellow          5.2             141          Pear
33  Yellow          0.0             135          Pear
34   Green          2.5               0         Apple

In [ ]:
df=fill_values(dataframe)
df

Dataset after filling values      Colour  Radius (cm)  Weight (grams) Fruit (class)
0    Green          4.3           122.0          Pear
1    Green          4.6           152.0          Pear
2    Green          3.1            85.0         Apple
3    Green          3.6           173.0          Pear
4    Green          2.5            65.0         Lemon
5    Green          2.5            70.0         Apple
6    Green          2.7            73.0         Apple
7    Green          4.5           110.0          Pear
8    Green          2.5            86.0         Apple
9    Green          2.4            68.0         Lemon
10   Green          4.2           126.0          Pear
11     Red          3.7           101.0         Apple
12     Red          3.7           100.0         Apple
13     Red          3.4            80.0         Apple
14  Yellow          3.2            79.0         Apple
15  Yellow          3.1            69.0         Lemon
16  Yellow          2.1            64.0         Apple
17  Yellow          2.6            58.0         Lemon
18  Yellow          2.1            40.0         Lemon
19  Yellow          2.3            60.0         Lemon
20  Yellow          4.2           105.0          Pear
22  Yellow          3.2            64.0         Lemon
23  Yellow          2.9            53.0         Lemon
24  Yellow          4.1           135.0          Pear
25  Yellow          5.2           142.0          Pear
27  Yellow          2.7           137.0          Pear
28  Yellow          3.0            98.0         Apple
29  Yellow          2.4            57.5         Lemon
30  Yellow          4.1            56.0         Lemon
31  Yellow          4.1            80.0         Apple
32  Yellow          5.2           141.0          Pear
33  Yellow          2.7           135.0          Pear
34   Green          2.5            57.5         Apple

C:\Users\Aky\anaconda3\lib\site-packages\pandas\core\frame.py:4379: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

    Colour  Radius (cm)  Weight (grams) Fruit (class)
0    Green          4.3           122.0          Pear
1    Green          4.6           152.0          Pear
2    Green          3.1            85.0         Apple
3    Green          3.6           173.0          Pear
4    Green          2.5            65.0         Lemon
5    Green          2.5            70.0         Apple
6    Green          2.7            73.0         Apple
7    Green          4.5           110.0          Pear
8    Green          2.5            86.0         Apple
9    Green          2.4            68.0         Lemon
10   Green          4.2           126.0          Pear
11     Red          3.7           101.0         Apple
12     Red          3.7           100.0         Apple
13     Red          3.4            80.0         Apple
14  Yellow          3.2            79.0         Apple
15  Yellow          3.1            69.0         Lemon
16  Yellow          2.1            64.0         Apple
17  Yellow          2.6            58.0         Lemon
18  Yellow          2.1            40.0         Lemon
19  Yellow          2.3            60.0         Lemon
20  Yellow          4.2           105.0          Pear
22  Yellow          3.2            64.0         Lemon
23  Yellow          2.9            53.0         Lemon
24  Yellow          4.1           135.0          Pear
25  Yellow          5.2           142.0          Pear
27  Yellow          2.7           137.0          Pear
28  Yellow          3.0            98.0         Apple
29  Yellow          2.4            57.5         Lemon
30  Yellow          4.1            56.0         Lemon
31  Yellow          4.1            80.0         Apple
32  Yellow          5.2           141.0          Pear
33  Yellow          2.7           135.0          Pear
34   Green          2.5            57.5         Apple

In [ ]:
dataframe=normalise_minmax(dataframe)
dataframe

Dataset after minmax normalisation      Colour  Radius (cm)  Weight (grams) Fruit (class)
0    Green         0.83            0.71          Pear
1    Green         0.88            0.88          Pear
2    Green         0.60            0.49         Apple
3    Green         0.69            1.00          Pear
4    Green         0.48            0.38         Lemon
5    Green         0.48            0.40         Apple
6    Green         0.52            0.42         Apple
7    Green         0.87            0.64          Pear
8    Green         0.48            0.50         Apple
9    Green         0.46            0.39         Lemon
10   Green         0.81            0.73          Pear
11     Red         0.71            0.58         Apple
12     Red         0.71            0.58         Apple
13     Red         0.65            0.46         Apple
14  Yellow         0.62            0.46         Apple
15  Yellow         0.60            0.40         Lemon
16  Yellow         0.40            0.37         Apple
17  Yellow         0.50            0.34         Lemon
18  Yellow         0.40            0.23         Lemon
19  Yellow         0.44            0.35         Lemon
20  Yellow         0.81            0.61          Pear
22  Yellow         0.62            0.37         Lemon
23  Yellow         0.56            0.31         Lemon
24  Yellow         0.79            0.78          Pear
25  Yellow         1.00            0.82          Pear
27  Yellow         0.00            0.79          Pear
28  Yellow         0.58            0.57         Apple
29  Yellow         0.46            0.00         Lemon
30  Yellow         0.79            0.32         Lemon
31  Yellow         0.79            0.46         Apple
32  Yellow         1.00            0.82          Pear
33  Yellow         0.00            0.78          Pear
34   Green         0.48            0.00         Apple

    Colour  Radius (cm)  Weight (grams) Fruit (class)
0    Green         0.83            0.71          Pear
1    Green         0.88            0.88          Pear
2    Green         0.60            0.49         Apple
3    Green         0.69            1.00          Pear
4    Green         0.48            0.38         Lemon
5    Green         0.48            0.40         Apple
6    Green         0.52            0.42         Apple
7    Green         0.87            0.64          Pear
8    Green         0.48            0.50         Apple
9    Green         0.46            0.39         Lemon
10   Green         0.81            0.73          Pear
11     Red         0.71            0.58         Apple
12     Red         0.71            0.58         Apple
13     Red         0.65            0.46         Apple
14  Yellow         0.62            0.46         Apple
15  Yellow         0.60            0.40         Lemon
16  Yellow         0.40            0.37         Apple
17  Yellow         0.50            0.34         Lemon
18  Yellow         0.40            0.23         Lemon
19  Yellow         0.44            0.35         Lemon
20  Yellow         0.81            0.61          Pear
22  Yellow         0.62            0.37         Lemon
23  Yellow         0.56            0.31         Lemon
24  Yellow         0.79            0.78          Pear
25  Yellow         1.00            0.82          Pear
27  Yellow         0.00            0.79          Pear
28  Yellow         0.58            0.57         Apple
29  Yellow         0.46            0.00         Lemon
30  Yellow         0.79            0.32         Lemon
31  Yellow         0.79            0.46         Apple
32  Yellow         1.00            0.82          Pear
33  Yellow         0.00            0.78          Pear
34   Green         0.48            0.00         Apple

In [ ]:

print("min :",dataframe['Radius (cm)'].min())
print("max :",dataframe['Radius (cm)'].max())
print(4.3-2.1/5.2-2.1)

min : 0.0
max : 5.2
1.796153846153846